/* *{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   text-align: center;
} */

.login_btn{
   background-color:brown;
   margin-top: 160px;
   margin-left: 560px;
   padding: 10px 20px;
   font-weight: 700;
   font-style: normal;
   border-color: aliceblue;
   color: beige;
   /* text-align: center;
   align-items: center;
   justify-content: center; */
}

.heading{
    justify-content: center;
    align-items: center;
    text-align: center;
    color: coral;
    margin-top: 20px;
}

.para{
    justify-content: center;
    align-items: center;
    text-align: center;
    color: coral;
    font-weight: 300;
    margin-top: 5px;
}